<div class="main-table-container">
    <table class="main-table">
        <thead class="table-head-bar">
          <tr>
            <td class = 'head-item'>id</td>
            <td class = 'head-item'>Имя пользователя</td>
            <td class = 'head-item'>Наименование обьявления</td>
            <td class = 'head-item'>Категория</td>
            <td class = 'head-item'>Дата публикации</td>
          </tr>
        </thead>
        <tbody class="table-body-bar">
          <ng-container #books></ng-container>
        </tbody>
    </table>
 </div>