<footer class="footer">
    <div class="footer-line"></div>
    <div class="footer-bar"> 
        <div class="social-links">
                <a href="#" class="links"><img src="../../../../assets/img/twitter.svg" alt="" class="link-img"></a>
                <a href="#" class="links"><img src="../../../../assets/img/vk.svg" alt="" class="link-img"></a>
                <a href="#" class="links"><img src="../../../../assets/img/facebook.svg" alt="" class="link-img"></a>
                <a href="#" class="links"><img src="../../../../assets/img/instagram.svg" alt="" class="link-img"></a>
        </div>
        <div class="copyright">© 2021–2021 «SolarNet»</div>
        <div class="user-agreement"><a href="">Пользовательское соглашение</a></div>
        <div class="label">
            <img src="../../../../assets/img/Label.svg" alt="">
        </div>
    </div>
</footer>