.user-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    width: 680px;     
    /* padding: 15px; */
    margin-top: 15px;
    border-radius: 7px;     
}

.user{
    display: flex;  
    width: 650px;
    justify-content: space-between;
    padding: 15px;
    /* margin-top: 15px; */
    border-radius: 7px;
    background: rgba(255, 251, 162, 0.51);
}

.user:hover{
    background: rgba(255, 250, 162, 0.768);
    transition: 0.3s;
    cursor: pointer;
}

.main-img{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;    
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
}

.main{
    width: 100%;
}

.description-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin-left: 10px;
    word-wrap: break-word;
}

.change-btns{
    position: absolute;
    left: 100%;
    top: 0;
    /* width: 50px; */
    height: 100%;
    background-color: #fff854;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: 0.3s;
}

.change-btns:hover{
    cursor: pointer;
}

.user-bar:hover .change-btns{
    left: 93%;
}

.change-btns .btn{
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-btns .btn>img{
    width: 50%;
    height: 50%;
}

.confirm-bar{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(255, 251, 162);
    border-radius: 7px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.btns{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.confirm-btn{
    width: 48%;
    height: 40px;
    font-size: 15px;
    border: none;
    background-color: #f4f4f4;
    border: 1px solid rgba(255, 251, 162);
}

.confirm-btn:hover{
    border-color: #000;
}

.none{
    display: none;
}

@media only screen and (max-width : 769px){
    .user-bar{
        width: 500px;
        font-size: 13px;
    }
    
    .user-bar:hover .change-btns{
        left: 88%;
    }
    
    .change-btns .btn{
        width: 60px;
        height: 60px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .change-btns .btn>img{
        width: 50%;
        height: 50%;
    }
}

@media only screen and (max-width : 426px){


    .user-bar{
        width: 380px;
        font-size: 14px;
    }

    .user{
        flex-direction: column;
    }


    .main-img{
        width: 350px;
        height: 350px;
    }
    
    .description-bar{
        margin-top: 15px;
    }
    
    .user-bar:hover .change-btns{
        left: 84%;
    }
    
    .change-btns .btn{
        width: 60px;
        height: 60px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .change-btns .btn>img{
        width: 50%;
        height: 50%;
    }
}

@media only screen and (max-width : 376px){
    .user-bar{
        width: 350px;
        font-size: 14px;
    }

    .user{
        flex-direction: column;
    }


    .main-img{
        width: 320px;
        height: 320px;
    }
    
    .description-bar{
        margin-top: 15px;
    }
    
    .user-bar:hover .change-btns{
        left: 84%;
    }
    
    .change-btns .btn{
        width: 60px;
        height: 60px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .change-btns .btn>img{
        width: 50%;
        height: 50%;
    }
}